h1 {
  font-family: "arial";
  font-size: 32;
  color: white ;
  background-color: #800000;
  border: 1px solid black;
}

h1 { text-align: center }

body {
  background-color: #D3D3D3;
}

p {
  color: black;
}
 h2 {
   font-family: "arial";
   font-size: 30;
   color: black ;
 }
 h3 {
   font-family: "arial";
   font-size: 30;
   color: black ;
 }
 h4 {
   font-family: "arial";
   font-size: 30;
   color: black ;
 }
 h5 {
   font-family: "arial";
   font-size: 37;
   color: black ;
 }
 img {
  border: solid #800000;
  width: 175px;
}
